<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <div class="d-flex justify-content-center"><h2> Filter</h2></div>
            <div class="card border-info ">
                <div class="card-body text-info">
                    <!--filter-->
                    <div>
                        <label for="category" class="col">Filter Category</label>
                        <div class="col">
                            <select [(ngModel)]="selectedCat" name="category" id="category" class="form-control">
                                <!--                    <option value="" disabled selected> Cagegory </option>-->
                                <option *ngFor="let category of categories ;trackBy: trackId" [value]="category.id">
                                    {{category.typeName}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <label for="date" class="col">Date</label>
                        <div class="input-group col">
                            <input type="text" class="form-control" name="date" id="date"
                                   ngbDatepicker #date="ngbDatepicker" [(ngModel)]="datePick"/>
                            <span class="input-group-append">
                                <button type="button" class="btn btn-secondary"
                                        (click)="date.toggle()">
                                    <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                </button>
                    </span>
                        </div>

                    </div>
                    <div style="margin-top: 30px">
                        <button style="margin-left:15px; " (click)="search()" type="submit"
                                class="btn btn-outline-primary  mb-2">
                            <fa-icon [icon]="'search'"></fa-icon>
                            Search
                        </button>
                        <button style="margin-left:15px; " (click)="loadAll()" type="submit"
                                class="btn btn-outline-danger  mb-2">
                            <fa-icon [icon]="'times'"></fa-icon>
                            Reset
                        </button>
                    </div>


                    <!--End Filter-->
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="d-flex justify-content-center">
                <h1> ANNONCES </h1>
            </div>
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div *ngFor="let helpOffer of helpOffers ;trackBy: trackId">
                        <div class="card-group">
                            <div class="container">
                                <div class="card shadow bg-white"
                                     style="margin-bottom: 30px; display:inline-block; width: 25rem;">
                                    <img class="card-img-top" src="../../content/images/image_vetement.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            {{helpOffer.title}}
                                        </h5>
                                        <p class="card-text">
                                            {{helpOffer.description}}
                                        </p>
                                        <a [routerLink]="['/help-offer', helpOffer.id, 'view' ]" class="btn btn-primary">Voir Les détails</a>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">
                                            Poster le : {{helpOffer.datePost | date:'mediumDate'}} - {{ helpOffer.category.typeName }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div *ngIf="helpOffers">
              <div class="row justify-content-center">
                  <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
              </div>
              <div class="row justify-content-center">
                  <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
              </div>
            </div>
