<div>
    <h2 id="page-heading">
        <span jhiTranslate="fraternityApp.helpOffer.home.title">Help Offers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-help-offer" [routerLink]="['/help-offer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="fraternityApp.helpOffer.home.createLabel">
            Create new Help Offer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="helpOffers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="fraternityApp.helpOffer.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="fraternityApp.helpOffer.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="datePost"><span jhiTranslate="fraternityApp.helpOffer.datePost">Date Post</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateStart"><span jhiTranslate="fraternityApp.helpOffer.dateStart">Date Start</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateEnd"><span jhiTranslate="fraternityApp.helpOffer.dateEnd">Date End</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="picture"><span jhiTranslate="fraternityApp.helpOffer.picture">Picture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user.login"><span jhiTranslate="fraternityApp.helpOffer.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="category.id"><span jhiTranslate="fraternityApp.helpOffer.category">Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let helpOffer of helpOffers ;trackBy: trackId">
                <td><a [routerLink]="['/help-offer', helpOffer.id, 'view' ]">{{helpOffer.id}}</a></td>
                <td>{{helpOffer.title}}</td>
                <td>{{helpOffer.description}}</td>
                <td>{{helpOffer.datePost | date:'mediumDate'}}</td>
                <td>{{helpOffer.dateStart | date:'mediumDate'}}</td>
                <td>{{helpOffer.dateEnd | date:'mediumDate'}}</td>
                <td>
                    <a *ngIf="helpOffer.picture" (click)="openFile(helpOffer.pictureContentType, helpOffer.picture)">
                        <img [src]="'data:' + helpOffer.pictureContentType + ';base64,' + helpOffer.picture" style="max-height: 30px;" alt="helpOffer image"/>
                    </a>
                    <span *ngIf="helpOffer.picture">{{helpOffer.pictureContentType}}, {{byteSize(helpOffer.picture)}}</span>
                </td>
                <td>
                    {{helpOffer.user?.login}}
                </td>
                <td>
                    <div *ngIf="helpOffer.category">
                        <a [routerLink]="['../category', helpOffer.category?.id, 'view' ]" >{{helpOffer.category?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/help-offer', helpOffer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/help-offer', helpOffer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'help-offer', { outlets: { popup: helpOffer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="helpOffers && helpOffers.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
