<div>
  <h2 id="page-heading">
    <span>Les associations</span>
    <!-- <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-association" [routerLink]="['/association/new']">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span>
        Ajouter une nouvelle association
        </span>
    </button> -->
  </h2>

  <div class="table-responsive" *ngIf="associations">
    <div class="table table-striped">
      <div jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
        <div class="association" *ngFor="let association of associations ;trackBy: trackId">
          <div>Nom de l'association </div>
          <div>Numéro de Siret : {{association.nSiret}}</div>
          <div>Status : {{association.statut}}</div>
        </div>
      </div>
    </div>

<div *ngIf="associations">
  <div class="row justify-content-center">
    <ngb-pagination [collectionSize]="associations.length" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    <br>
    <jhi-item-count [page]="page" [total]="associations.length" [itemsPerPage]="itemsPerPage"></jhi-item-count>

    <p>{{totalItems}}</p>
  </div>

</div>

  </div>



</div>
